.demovox .btn.btn-success,
.button {
  font-family: "viksjoe-regular", Georgia, "Times New Roman", serif;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--dark);
  background-color: var(--cream);
  border: 3px solid var(--dark);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.25s ease background-color;
  padding: 0.375rem 0.75rem;
  display: inline-block;
}

.button#cpv-order-sheet-button {
  margin-top: 1rem;
}

#cpv-oder-sheet-success {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #baebe6;
  border: 3px solid var(--turquoise);
  border-radius: 3px;
  color: var(--turquoise);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#cpv-order-sheet-container,
#cpv-share-container {
  margin-top: 3rem;
}

#cpv-order-sheet-container h3,
#cpv-share-container h3 {
  font-size: 2rem;
  color: var(--turquoise);
}

#cpv-share-inner {
  width: 100%;
  max-width: 17cm;
}

textarea#sharemsg {
  overflow: hidden;
  resize: none;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: calc(1rem + 3px);
  line-height: 1.4;
  font-size: 1rem;
  border: none;
  border-bottom: 3px solid var(--dark);
  border-radius: 3px;
  background-color: var(--light);
}

.boettens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.boettens .boetten {
  width: calc(50% - 0.25rem);
  font-family: "viksjoe-regular", Georgia, "Times New Roman", serif;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1;
  color: white;
  background-color: var(--buttonbg);
  border: 3px solid var(--buttonborder);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.25s ease background-color;
  padding: 0.5rem 0.75rem;
  display: inline-block;
}

.boettens .boetten::after {
  font-family: "Font Awesome 5 Brands" !important;
  display: inline-block !important;
  font-size: 1.5rem !important;
  padding-left: 0.3em !important;
  transform: translateY(0.1em);
  line-height: 0.9 !important;
  font-weight: 400 !important;
}

.boettens .boetten#whatsapp {
  --buttoncolor: var(--white) !important;
  --buttonbg: #25d366 !important;
  --buttonborder: #25d366 !important;
}
.boettens .boetten#whatsapp::after {
  content: "\f232";
}

.boettens .boetten#telegram {
  --buttoncolor: var(--white) !important;
  --buttonbg: #0088cc !important;
  --buttonborder: #0088cc !important;
}
.boettens .boetten#telegram::after {
  content: "\f2c6";
}

.boettens .boetten#facebook {
  --buttoncolor: var(--white) !important;
  --buttonbg: #4267b2 !important;
  --buttonborder: #4267b2 !important;
}
.boettens .boetten#facebook::after {
  content: "\f09a";
}

.boettens .boetten#twitter {
  --buttoncolor: var(--white) !important;
  --buttonbg: #1da1f2 !important;
  --buttonborder: #1da1f2 !important;
}
.boettens .boetten#twitter::after {
  content: "\f099";
}

.boettens .boetten#email {
  --buttoncolor: var(--black) !important;
  --buttonbg: var(--dark) !important;
  --buttonborder: var(--dark) !important;
}
.boettens .boetten#email::after {
  font-family: FontAwesome !important;
  content: "\f0e0" !important;
}

.boettens .boetten#threema {
  --buttoncolor: var(--black) !important;
  --buttonbg: #2e2e2e !important;
  --buttonborder: #2e2e2e !important;
}
.boettens .boetten#threema::after {
  display: inline-block;
  content: url("https://api.iconify.design/simple-icons/threema.svg?color=white&width=20&height=20'");
}

@media screen and (max-width: 680px) {
  .boettens .boetten {
    width: 100%;
  }
}
